$defaultBorder: 1px solid black;
$defaultFont: arial sans-serif;
$defaultWeight: bold;
$paddingH3: 5px 10px;
$headingColor: red;

%tableBorder {
  border: $defaultBorder;
  font-family: $defaultFont;
  font-weight: $defaultWeight;
}

%paragraph {
  padding: $paddingH3;
  font-family: $defaultFont;
  font-size: 20px;
}

body {
  background-color: #F5F5F5 !important;

  h3 {
    color: $headingColor;
    padding: $paddingH3;
  }

  h2 {
    color: $headingColor;
    padding: 15px;
    border-bottom: $defaultBorder;
  }

  p {
    @extend %paragraph;
  }
}

a {
  font-size: 23px;
  font-weight: $defaultWeight;
}

table {
  th {
    @extend %tableBorder;
  }

  td {
    @extend %tableBorder;
  }
}

tr:nth-child(even) {
  background-color: gray;
}

.center {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#headShot {
  display: block;
  width: auto;
  height: auto;
}
@media (max-width:600px) {
  .nav {
    border: $defaultBorder;
  }
}
@media (min-width:601px) {
  .nav {
    border: $defaultBorder;
    border-bottom: $defaultBorder;
  }
}
